*.sh text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.service text eol=lf
Dockerfile text eol=lf
README.md text eol=lf
.gitignore text eol=lf
.shellcheckrc text eol=lf
.gitattributes text eol=lf
